@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
@import "tailwindcss";

:root {
  width: 100vw;
  height: 100vh;
  max-width: 2080px;
  max-height: 800px;
  background-color: rgb(33, 49, 122);
}

.font-bree {
  font-family: 'Bree Serif', serif;
}



